header{
    width: 100%;
    height: $hundred;
    margin: $auto;
    nav{
        width: $ninety;
        height: $hundred;
        margin: 40px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: $GrayishViolet;
        font-weight: 700;
        .flex-left{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            .logoHam-wrapper{
                margin-right: 20px;
                .hamMenuWrapper{
                    display: none;
                    .hamMenu{
                        width: 30px;
                        cursor: $pointer;
                    }
                }
            }
            .items .item{
                float: left;
                margin: auto 20px;
                &:hover{
                    cursor: $pointer;
                    color: $VeryDarkViolet;
                }
            }
        }
        .logSign-wrapper{
            .login{
                margin-right: 30px;
                &:hover{
                    color: $VeryDarkViolet;
                    cursor: $pointer;
                }
            }
            .sign-up{
                background-color: $Cyan;
                border-radius: 40px;
                color: #FFF;
                padding: 8px 25px;
                &:hover{
                    cursor: $pointer;
                    background-color: lighten($Cyan, 30);
                }
            }
        }
    }

    .heading-wrapper{
        width: $ninety;
        height: $hundred;
        margin: 70px auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .heading{
            width: 50%;
            height: 100%;
            margin-top: 6%;
            h1{
                color: $VeryDarkViolet;
                font-size: 50px;
                font-weight: 700;
                width: 85%;
                line-height: 55px;
            }
            p{
                width: 75%;
            }
            .get-started{
                margin-top: 30px;
                span{
                    background-color: $Cyan;
                    border-radius: 40px;
                    color: #FFF;
                    padding: 8px 25px;
                    &:hover{
                        cursor: $pointer;
                        background-color: lighten($Cyan, 30);
                    } 
                }
            }
        }
        .work-illust-wrapper{
            width: 50%;
            margin-right: -17%;
            .illust{
                width: 100%;
            }
        }
    }
}

@include mQ(768px){
    header{
        position: relative;
        .close{
            nav{
                flex-direction: column;
                .flex-left{
                    flex-direction: column;
                    .logoHam-wrapper{
                        width: 100%;
                        margin: $auto;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .hamMenuWrapper{
                            display: block;
                        }
                    }
                    .items{
                        display: none;
                    }
                }
                .logSign-wrapper{
                    display: none;
                }
            }
        }

        .open{
            width: 100%;
            margin: $auto;
            position: absolute;
            top: -13%;
            z-index: 1;
            nav{
                flex-direction: column;
                .flex-left{
                    flex-direction: column;
                    .logoHam-wrapper{
                        width: 100%;
                        margin: $auto;
                        margin-bottom: 20px;
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        .hamMenuWrapper{
                            display: block;
                        }
                    }
                    .items{
                        width: 100%;
                        margin: auto auto;
                        text-align: center;
                        background-color: $DarkViolet;
                        padding: 20px 0px;
                        color: #FFF;
                        border-radius: 10px 10px 0px 0px;
                        .item{
                            float: none;
                            width: 30%;
                            margin: auto auto;
                            padding: 15px 0px;
                            &:hover{
                                color: $Cyan;
                            }
                        }
                    }
                }
                .logSign-wrapper{
                    text-align: center;
                    background-color: $DarkViolet;
                    padding: 0px 0px;
                    padding-bottom: 40px;
                    color: #FFF;
                    border-radius: 0px 0px 10px 10px;
                    margin-top: 0%;
                    .login{
                        margin-right: 0px;
                        padding: 25px 0px;
                        padding-top: 33px;
                        display: block;
                        width: 90%;
                        margin: auto auto;
                        border-top: 1px solid $Gray;
                        &:hover{
                            color: $Cyan;
                        }
                    }
                    .sign-up{
                        width: 80%;
                        margin: auto auto;
                        padding: 8px 5%;
                        display: block;
                    }
                }
            }
        }

        .heading-wrapper{
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
            position: relative;
            top: 10px;
            z-index: 0;
            .heading{
                width: 100%;
                text-align: center;
                h1{
                    font-size: 45px;
                    width: 100%;
                    line-height: 40px;
                }
                p{
                    width: 100%;
                    margin-top: 15px;
                }
                .get-started{
                    margin-top: 40px;
                    span{
                        padding: 8px 25px;
                    }
                }
            }
            .work-illust-wrapper{
                width: 100%;
                margin-right: 0%;
                .illust{
                    width: 100%;
                }
            }
        }
    }
} 