@import url("./font.css");
@import "./styles/Variables.scss";
@import "./styles/maxin.scss";
@import "./styles/headerStyle.scss";
@import "./styles/main/mainStyle.scss";
@import "./styles/main/shortenForm.scss";
@import "./styles/main/trackLink.scss";
@import "./styles/main/boostLink.scss";
@import "./styles/footerStyle.scss";

*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Poppins';
  font-weight: normal;
  font-size: 1em;
  background-color: #FFF;
  color: $Gray;
}

li{
  list-style-type: none;
}

.App{
  max-width: 1440px;
  width: 100%;
  height: 100%;
  margin: auto auto;
}